.gradient-title {
    /* Fallback: Set a background color. */
    background-color: #0f2027;
    
    /* Create the gradient. */
    background-image: linear-gradient(to bottom, #0f2027, #203a43, #2c5364); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    /* Set the background size and repeat properties. */
    background-size: 100%;
    background-repeat: repeat;
  
    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    margin: 20px;
    justify-content: center;
    text-align: center;
    font-size: 40px;
    font-family: 'Acme', 'sans-serif';
}
  